@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }

 /* html {
     
      font-size: 62.5%;
  }  */
  
  ul{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
  }
  .texto-verde{
    color:#39B24A;
  }
  .texto-rojo{
    color: #FC200C;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    *height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E5E5E5;
}

h2{
  color: white
}


/* Header */

.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 100px;
    z-index: 999;
    position: relative;
}

.logo{
  display: flex;
  align-items: center;
  margin:20px;
}

h1{
  margin-left: 15px;
  color: white;
}

.header-nav{
  color:white;
  text-decoration: none;
  align-content: flex-end;
}

.boton-nav{
  color:white;
  text-decoration: none;
  font-weight: 400;
}
nav>ul{
  display: flex;
}
nav > ul > li{
  display: inline-block;
  align-items: flex-end;
  padding: 20px;
 
}
nav ul li ::before{
  content: "\f818";
  font-family: "Font Awesome 5 Free"; 
  font-weight: 600;
  color: #FFFFFF;
  margin-right: 5px;
}
a:hover{
  color:  #FC200C;
  }

  .hamburguesa{
    display: none;
  }

/* Main */
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.main-container-card {
  height: 350px;
  Width : 491px;
  border-radius: 5px;
  margin: 2.5px;
}
h2::first-letter{
  font-size: 2rem;
}
h2 span::first-letter{
  font-size: 2rem;
}

.titulo-podio-pizza {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  margin-top: 17px;
}

.delivery{
  background-image: url(../img/delivery.jpg);
  padding: 15px;
}

.podio-pizza{
  color: #222222;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lista-pizzas{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  margin-bottom:65px
}
.lista-pizzas div{
  display: flex;
  flex-direction: column;
}

.lista-titulo{
  margin-bottom: 12px;
}
.lista{
  line-height: 30px;
}

/* Footer */
.footer-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  
  position:relative;
/*   position:fixed;
  left:0px;
  bottom:0px */

}

.logo-footer{
  display: flex;
  align-items: center;
  margin: 30px;
}

footer div>ul{
  display: flex;
  flex-direction: column;
}
footer div > ul > li{
  padding: 5px;
  border:5px;
}

/*responsive*/
@media screen and (max-width: 768px) {
  .main-container{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  header nav {
    display: none;
}
  .hamburguesa {
    display: unset;
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
}
.delivery {
  margin: 1.5rem 0 1rem 0;
}
.podio-pizza {
  margin:1rem 0 1.5rem 0;
}
}
@media screen and (max-width: 480px) {
  .main-container{
    flex-direction: column;
  }
  .delivery .podio-pizza{
    width:100%;
  }
  .lista-pizzas{
    justify-content: space-evenly;
  }
  .header-nav{
    visibility: hidden;
  }
  
footer{
  flex-direction: column;
  }
  
}